---
import BaseLayout from '../layouts/BaseLayout.astro';
import PortableText from '../components/PortableText.astro';
import { getInicio, urlFor } from '../lib/sanity';
import siteConfig from '../data/site-config';

const inicio = await getInicio();
---

<BaseLayout description={siteConfig.description} showHeader={false}>
    <section class="mb-16 flex w-full flex-col gap-8 sm:mb-24">
        {inicio?.title && (
            <h1 class="font-serif text-3xl leading-tight font-medium sm:text-5xl sm:leading-tight">
                {inicio.title}
            </h1>
        )}
        {inicio?.photo?.asset && (
            <figure>
                <img
                    class="w-full max-w-md rounded"
                    src={urlFor(inicio.photo).width(600).auto('format').url()}
                    alt="Foto de perfil"
                    width="600"
                    height="600"
                    loading="eager"
                />
            </figure>
        )}
        {inicio?.bio && (
            <PortableText value={inicio.bio} class="prose sm:prose-lg max-w-none" />
        )}
    </section>
</BaseLayout>
